### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

### Node ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### TypeScript ###
dist/
*.tsbuildinfo

### Environment ###
.env
.env.local
.env.*.local

### OS ###
Thumbs.db
ehthumbs.db
Desktop.ini
